.board {
  width: 410px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 100px;
}

.cell {
  font-family: monospace;
  width: 100px;
  height: 100px;
  float: left;
  font-size: 20px;
  border-radius: 10px;
  font-size: 3.2vw;
/*  outline: 3px solid white;
*/  background: rgba(238, 228, 218, 0.35);
  margin-top: 5px;
  margin-right: 2px;
  font-weight: bold;
  box-shadow: 5px 3px;
}

body {
  font-family: monospace;
  background-color: #faf8ef;
}

#header {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  margin: auto;
  text-align: center;
}

.instructions {
  margin-left: 300px;
  margin-right: 300px;
}

@keyframes jello {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}

.jello {
  animation: jello 0.2s;
  transform-origin: center
}

.a0 {
  background: rgba(238, 228, 218, 0.35);
  color: transparent;
}

.a2 {
  background: #eee4da;
}

.a4 {
  background: #ede0c8;
}

.a8 {
  background: #f2b179;
}

.a16 {
  background: #f59563;
}

.a32 {
  background: #f67c5f;
}

.a64 {
  background: #f65e3b;
}

.a128 {
  background: #edcf72;
}

.a256 {
  background: #edcc61;
}

.a512 {
  background: #edc850;
}

.a1024 {
  background: #edc53f;
}

.a2048 {
  background: #34312d;
  color: #edcf72;
}





